.li-itemize{margin:1ex 0ex;}
.li-enumerate{margin:1ex 0ex;}
.footnotetext{margin:0ex; padding:0ex;}
div.footnotetext P{margin:0px; text-indent:1em;}
.thefootnotes{text-align:left;margin:0ex;}
.dt-thefootnotes{margin:0em;}
.dd-thefootnotes{margin:0em 0em 0em 2em;}
.footnoterule{margin:1em auto 1em 0px;width:50%;}
.caption{padding-left:2ex; padding-right:2ex; margin-left:auto; margin-right:auto}
.center{text-align:center;margin-left:auto;margin-right:auto;}
div table{margin-left:inherit;margin-right:inherit;margin-bottom:2px;margin-top:2px}
td table{margin:auto;}
table{border-collapse:collapse;}
td{padding:0;}
.cellpadding0 tr td{padding:0;}
.cellpadding1 tr td{padding:1px;}
pre{text-align:left;margin-left:0ex;margin-right:auto;}
blockquote{margin-left:4ex;margin-right:4ex;text-align:left;}
td p{margin:0px;}
.vbar{border:none;width:2px;background-color:black;}
.hbar{border:none;height:2px;width:100%;background-color:black;}
.display{border-collapse:separate;border-spacing:2px;width:auto; border:none;}
.dcell{white-space:nowrap;padding:0px; border:none;}
.dcenter{margin:0ex auto;}
.theorem{text-align:left;margin:1ex auto 1ex 0ex;}
a:link{color:black;}
p+p{margin-top:1em;margin-bottom:1em}
img{border:0px}

div#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    gap: 10px;
}
div#colorbar {
    display: none;
    /* background: #DC143C;  */
}
div#content {
    min-width: 0;
    padding: 10px;
}
div#content p:first-of-type {
    margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    display: block;
}

img {
    max-width: 100%
}
pre.verbatim {
    overflow-x: auto;
    max-width: 100%;
}

/* navarrow links */
img.navarrow {
    padding: 0 5px;
    text-decoration: none;
    color: #DC143C;
}

body > a, body > a:link {
    color: #DC143C;
}
body > a:hover {
    text-decoration: underline;
}

body div#content a, body div#sidebar a {
    text-decoration: underline;
}

img.prevarrow:after {
    content: " ð¡"
}
img.uparrow:after {
    content: " ð¡"
}
img.nextarrow:after {
    content: " ð¡"
}
/* end navarrow links */

div.notice {
    background-color: #f0f0f0;
    padding: 8px;
    border: 1px solid #d0d0d0;
    margin-bottom: 12px;
}

@media (max-width: 800px) {
    body > hr:first-of-type {
        color: #DC143C;
        background-color: #DC143C;
        height: 12px;
        margin-bottom: 0px;
        border: 0;
    }
    div#content {
        padding: 10px 2px;
    }
}

@media (min-width: 800px) {
    hr { border: 0; }
    div#colorbar {
        display: block;
    }
    div#main {
        grid-template-columns: 1fr 5fr 200px;
    }
    div#content {
        max-width: 600px;
    }
    div#sidebar {
        max-width: 200px;
        padding: 0px 10px;
    }
    img.prevarrow {
        margin-left: 15%;
    }
}
